# Vendored native dependencies.
#
[submodule "native/vendor/lmdb"]
	path = native/vendor/lmdb
	url = https://github.com/LMDB/lmdb
	branch = mdb.master3
	shallow = true

[submodule "native/vendor/iceberg-cpp"]
	path = native/vendor/iceberg-cpp
	url = https://github.com/apache/iceberg-cpp
	shallow = true
	ignore = all

[submodule "native/vendor/arrow"]
	path = native/vendor/arrow
	url = https://github.com/apache/arrow
	shallow = true

[submodule "native/vendor/flint"]
	path = native/vendor/flint
	url = https://github.com/flintlib/flint
